<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="../img/weather.png">
        <link rel="stylesheet" href="../css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site uses data from:</p>
            <ul>
                <li><a href="https://weatherstack.com" target="_blank">weatherstack</a></li>
                <li><a href="https://positionstack.com" target="_blank">positionstack</a></li>
            </ul>
        </div>
        {{>footer}}
    </body>
</html>