<header>
  <h1>{{title}}</h1>
  <!-- localhost:3000... -->
  <!-- / Means move to localhost:3000-->
  <a href="/">Weather</a>
  <!-- /about Means move to localhost:3000/about-->
  <a href="/about">About</a>
  <!-- /help Means move to localhost:3000/help-->
  <a href="/help">Help</a>
</header>